{% extends "base.html" %}

{% block content %}
<h1 align="center">About</h1>  

<table class="media-body">
<tr>
    <td style="width:30%"><img src="static/cruzhacks.jpg"></td>

    <td style="width:35%">
        <h3>Who We Are</h3>
        <p align="left" class="article-content">We are a team of 5 UC Santa Cruz Computer Science students!</p>
        <p align="left" class="article-content">
           <h3> Who's On The Team?</h3>
           <p align="left" class="article-content">Koorous Vargha</p>
           <p align="left" class="article-content">Jonne</p>
           <p align="left" class="article-content">Ernesto</p>
           <p align="left" class="article-content">Bonnie</p>
           <p align="left" class="article-content">Austin</p>
        </p>
    </td>

    <td style="width:35%">
        <h3>What Did We Do?</h3>
        <p align="left" class="article-content">We built a crowdsourced AMBER Alert website that uses Google Cloud's Firebase for the database and Google Maps for location services.</p>
    
        <h3>Why Did We Do It?</h3>
        <p align="left" class="article-content">We wanted to do something that would have a positive impact on the community and bring people to justice.</p>
    </td>




</tr>
</table>
{% endblock %}