{% extends "base.html" %}

{% block content %}

    <h1>Recent Sightings</h1>
    {% for post in posts %}
    
    <article class="media content-section">

          <table class="media-body">
            <tr>
              <td style="width:20%"><img class="rounded-circle article-img" src="static/elon.jpg"></td>

              <td style="width:30%">
                <p align="left" class="article-content"><b>Name:</b> {{ post.author.name }} </p>
                <p align="left" class="article-content"><b>Description:</b> {{ post.author.Description }}</p>
                <p align="left" class="article-content"><b>Age:</b> {{ post.author.Age }} </p>
                <p align="left" class="article-content"><b>Height:</b> {{ post.author.Height }}</p>
                <p align="left" class="article-content"><b>Weight:</b> {{ post.author.Weight }} </p>
                <p align="left" class="article-content"><b>Hair Color:</b> {{ post.author.Hair }}</p>
                <p align="left" class="article-content"><b>Eye Color:</b> {{ post.author.Eyes }}</p>

              </td>
            
            
                <td style="width:50%">  
                  <h3>Map</h3>
                  <!--The div element for the map -->
                  
                  <div id="{{ post.author.username }}" style="height: 400px; width: 100%;"></div>
                </td>  
               </tr>
             </table>
		  </div>
    </article>
    {% endfor %}

    <script>
      var coords = [
    {lat: 49.18589, lng: -2.19917, zoom: 17},
    {lat: 36.997174, lng: -122.051465, zoom: 17}
    ];
    var names = [
      "Test",
      "Susan"
    ];
    var markers = [];
    var maps = [];

    function initMap() {
        for(var i = 0, length = coords.length; i < length; i++)
        {
            var point = coords[i];
            var latlng = new google.maps.LatLng(point.lat, point.lng);

            maps[i] = new google.maps.Map(document.getElementById(names[i]), {
                zoom: point.zoom,
                center: latlng
            });

            markers[i] = new google.maps.Marker({
                position: latlng,
                map: maps[i]
            });
        }
      }
    </script>

    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBIcmKbmiuQGUcjZBzpAMz-2Jtg042QUrk&callback=initMap">
    </script>
{% endblock %}