Possible Amber Alert Sighting

License Plate: {{license_plate}}

Longitude: {{longitude}}

Latitude: {{latitude}}


<article class="media content-section">

    <table class="media-body">
            <td style="width:20%"><img class="rounded-circle article-img" src="static/elon.jpg"></td>

            <td style="width:30%">
                <p align="left" class="article-content"><b>License Plate:</b> {{license_plate}} </p>
                <p align="left" class="article-content"><b>Longitude:</b> {{longitude}}</p>
                <p align="left" class="article-content"><b>Latitude:</b> {{latitude}} </p>
            </td>
    </table>
    </div>
</article>